<a href="https://colab.research.google.com/github/kozen88/HCV_DM23/blob/main/PCA_e_addestramento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Applicazione delle tecniche di PCA su proiezioni del dataset

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('HCV-Egy-Data.csv', delimiter=',')
print(df)

In [52]:
df.groupby('Baselinehistological staging').count()

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,...,ALT 24,ALT 36,ALT 48,ALT after 24 w,RNA Base,RNA 4,RNA 12,RNA EOT,RNA EF,Baseline histological Grading
Baselinehistological staging,,,,,,,,,,,,,,,,,,,,,
1,336,336,336,336,336,336,336,336,336,336,...,336,336,336,336,336,336,336,336,336,336
2,332,332,332,332,332,332,332,332,332,332,...,332,332,332,332,332,332,332,332,332,332
3,355,355,355,355,355,355,355,355,355,355,...,355,355,355,355,355,355,355,355,355,355
4,362,362,362,362,362,362,362,362,362,362,...,362,362,362,362,362,362,362,362,362,362

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sb
sb.set()

Effettuiamo l'esperimento di feature reduction andando a ridurre le 5 feature in una sola feature aggregata cercando si aggregare gli attributi inerenti ai test di RNA.

In [11]:
from sklearn.decomposition import PCA

# Seleziona solo le colonne contenenti i tuoi attributi (5 colonne nel tuo caso)
X_projection = df[['RNA Base', 'RNA 4', 'RNA 12', 'RNA EOT', 'RNA EF']]

# Inizializza l'oggetto PCA e specifica il numero di componenti desiderate (1 nel tuo caso)
pca = PCA(n_components=1)

# Applica la PCA al tuo dataset
X_projection_reduced = pca.fit_transform(X_projection)

# andiiamo a creare un file excel per analizzare gli effetti della PCA
my_series_pca = pd.Series(X_projection_reduced.flatten())
# my_series_pca.to_excel("projection_RNA_pca.xlsx")
my_series_pca.describe()

count    1.385000e+03
mean    -2.689740e-12
std      3.740956e+05
min     -7.396683e+05
25%     -2.709325e+05
50%      2.502379e+04
75%      2.856185e+05
max      1.823453e+06
dtype: float64

Ripetiamo l'esperimento di data reduction sul le feature delle transaminasi

In [14]:
# ripetiamo il processo su di un'altra proiezione che vada a prendere gli attributi delle transaminasi
X2_projection = df[['AST 1', 'ALT 1', 'ALT4', 'ALT 12', 'ALT 24', 'ALT 36', 'ALT 48', 'ALT after 24 w']]
pca_2 = PCA(n_components=1)
X2_projection_reduced = pca_2.fit_transform(X2_projection)
my_series_pca2 = pd.Series(X2_projection_reduced.flatten())
# my_series_pca2.to_excel("projection_trans_pca2.xlsx")
my_series_pca2.describe()

count    1.385000e+03
mean    -1.354392e-15
std      2.794563e+01
min     -7.851647e+01
25%     -1.922776e+01
50%     -2.076178e-01
75%      1.939534e+01
max      8.093051e+01
dtype: float64

In [17]:
df_wout_grading = df.drop('Baseline histological Grading', axis=1)
df_wout_grading

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,...,ALT 24,ALT 36,ALT 48,ALT after 24 w,RNA Base,RNA 4,RNA 12,RNA EOT,RNA EF,Baselinehistological staging
0,56,1,35,2,1,1,1,2,2,2,...,81,5,5,5,655330,634536,288194,5,5,2
1,46,1,29,1,2,2,1,2,2,1,...,113,57,123,44,40620,538635,637056,336804,31085,2
2,57,1,33,2,2,2,2,1,1,1,...,116,5,5,5,571148,661346,5,735945,558829,4
3,49,2,33,1,2,1,2,1,2,1,...,88,48,77,33,1041941,449939,585688,744463,582301,3
4,59,1,32,1,1,2,1,2,2,2,...,120,94,90,30,660410,738756,3731527,338946,242861,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1380,44,1,29,1,2,2,2,1,1,1,...,127,63,44,45,387795,55938,5,5,5,4
1381,55,1,34,1,2,2,1,1,1,1,...,108,97,64,41,481378,152961,393339,73574,236273,2
1382,42,1,26,2,2,1,1,1,2,1,...,116,87,39,24,612664,572756,806109,343719,160457,2
1383,52,1,29,2,1,1,2,2,2,1,...,47,48,81,43,139872,76161,515730,2460,696074,3
1384,55,2,26,1,2,2,2,1,2,1,...,115,64,71,34,1190577,628730,5,5,5,3

In [22]:
column_to_drop = ['AST 1', 'ALT 1', 'ALT4', 'ALT 12', 'ALT 24', 'ALT 36', 'ALT 48', 'ALT after 24 w','RNA Base', 'RNA 4', 'RNA 12', 'RNA EOT', 'RNA EF']
df_reduced = df_wout_grading.drop(column_to_drop, axis=1)
df_reduced

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,WBC,RBC,HGB,Plat,Baselinehistological staging
0,56,1,35,2,1,1,1,2,2,2,7425,4248807.0,14,112132.0,2
1,46,1,29,1,2,2,1,2,2,1,12101,4429425.0,10,129367.0,2
2,57,1,33,2,2,2,2,1,1,1,4178,4621191.0,12,151522.0,4
3,49,2,33,1,2,1,2,1,2,1,6490,4794631.0,10,146457.0,3
4,59,1,32,1,1,2,1,2,2,2,3661,4606375.0,11,187684.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1380,44,1,29,1,2,2,2,1,1,1,7044,4957174.0,15,202520.0,4
1381,55,1,34,1,2,2,1,1,1,1,6207,4636951.0,10,115776.0,2
1382,42,1,26,2,2,1,1,1,2,1,4913,4122038.0,14,128354.0,2
1383,52,1,29,2,1,1,2,2,2,1,7257,4241990.0,10,205908.0,3
1384,55,2,26,1,2,2,2,1,2,1,11832,4059176.0,14,136615.0,3

andreamo adesso a creare il nuovo data set contenente le due riduzioni fatte e su tale data set proveremo l'addestramento di un albero

In [23]:
# Creazione delle due Series di esempio
my_series_pca
my_series_pca2

# Unione del DataFrame e delle Series per colonne
merged_df_pca = pd.concat([df_reduced, my_series_pca, my_series_pca2], axis=1)

# Stampa del DataFrame risultante
print(merged_df_pca)

      Age   Gender  BMI  Fever  Nausea/Vomting  Headache   Diarrhea   \
0       56       1   35      2               1          1          1
1       46       1   29      1               2          2          1
2       57       1   33      2               2          2          2
3       49       2   33      1               2          1          2
4       59       1   32      1               1          2          1
...    ...     ...  ...    ...             ...        ...        ...
1380    44       1   29      1               2          2          2
1381    55       1   34      1               2          2          1
1382    42       1   26      2               2          1          1
1383    52       1   29      2               1          1          2
1384    55       2   26      1               2          2          2

      Fatigue & generalized bone ache   Jaundice   Epigastric pain     WBC  \
0                                    2          2                 2   7425
1                                    2          2                 1  12101
2                                    1          1                 1   4178
3                                    1          2                 1   6490
4                                    2          2                 2   3661
...                                ...        ...               ...    ...
1380                                 1          1                 1   7044
1381                                 1          1                 1   6207
1382                                 1          2                 1   4913
1383                                 2          2                 1   7257
1384                                 1          2                 1  11832

            RBC  HGB      Plat  Baselinehistological staging             0  \
0     4248807.0   14  112132.0                             2 -3.001538e+05
1     4429425.0   10  129367.0                             2  1.290080e+05
2     4621191.0   12  151522.0                             4  1.578533e+05
3     4794631.0   10  146457.0                             3  5.799497e+05
4     4606375.0   11  187684.0                             1  1.823453e+06
...         ...  ...       ...                           ...           ...
1380  4957174.0   15  202520.0                             4 -1.769756e+05
1381  4636951.0   10  115776.0                             2  1.447270e+05
1382  4122038.0   14  128354.0                             2  2.562607e+05
1383  4241990.0   10  205908.0                             3  4.601413e+05
1384  4059176.0   14  136615.0                             3 -4.731304e+05

              1
0     33.579734
1    -19.092772
2     80.930507
3     26.083211
4     -3.745879
...         ...
1380  56.442079
1381  10.198721
1382  50.305385
1383 -21.419574
1384  -4.760585

[1385 rows x 17 columns]

In [24]:
# salviamo un dataset in questo formato per esperimenti futuri
merged_df_pca.to_excel("pca_reduced_data_frame_uncleaned.xlsx")
merged_df_pca.to_csv("pca_reduced_df_uncleaned.csv", index=False)

Siamo pronti per testare un modello di apprendimento e capire che risultati produca con il dataset non ottimizzato.

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, train_test_split

In [50]:
# Preparazione delle features e del target
X = df_reduced.drop('Baselinehistological staging', axis=1)
y = df_reduced['Baselinehistological staging']

# Divisione del dataset in dati di training e dati di test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=911)

# Creazione del modello di albero decisionale
model = DecisionTreeClassifier(criterion='gini')

# Addestramento del modello sui dati di training completi
model.fit(X_train, y_train)

# Applicazione della cross-validation con 10 fold sui dati di training
scores = cross_val_score(model, X_train, y_train, cv=10)

# Calcolo della media delle performance ottenute
mean_accuracy = scores.mean()

# Valutazione del modello sui dati di test
test_accuracy = model.score(X_test, y_test)

# Stampa delle performance
print("Accuracy media (cross-validation):", mean_accuracy)
print("Accuracy sui dati di test:", test_accuracy)

Accuracy media (cross-validation): 0.2446273546273546
Accuracy sui dati di test: 0.22382671480144403

In [45]:
from sklearn.metrics import accuracy_score, roc_auc_score, fbeta_score, precision_score, recall_score, roc_curve
decision_tree = DecisionTreeClassifier(random_state=0).fit(X_train, y_train)

y_pred = decision_tree.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.22021660649819494

In [37]:
# Preparazione delle features e del target
X = df.drop('Baselinehistological staging', axis=1)
y = df['Baselinehistological staging']

# Divisione del dataset in dati di training e dati di test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

# Creazione del modello di albero decisionale
model = DecisionTreeClassifier()

# Addestramento del modello sui dati di training completi
model.fit(X_train, y_train)

# Applicazione della cross-validation con 10 fold sui dati di training
scores = cross_val_score(model, X_train, y_train, cv=10)

# Calcolo della media delle performance ottenute
mean_accuracy = scores.mean()

# Valutazione del modello sui dati di test
test_accuracy = model.score(X_test, y_test)

# Stampa delle performance
print("Accuracy media (cross-validation):", mean_accuracy)
print("Accuracy sui dati di test:", test_accuracy)

Accuracy media (cross-validation): 0.2418427518427518
Accuracy sui dati di test: 0.21299638989169675

dopo i pessimi risultati ottenuti vogliamo capire che cosa avrebbe fatto un modello che banalmente avrebbe sempre predetto la classe più frequente del data set

In [55]:
# Prepazione del target
y_t = df['Baselinehistological staging']

# Calcolo della classe media del target
y_p = [4] * len(y_t)

# Calcolo dell'accuratezza
acc = accuracy_score(y_t, y_p)

# Stampa dell'accuratezza
print("Accuracy:", acc)

Accuracy: 0.26137184115523465

conclusione ad oggi il modello è pessimo!!!!!!